# Chart related files
bluecompute/charts
bluecompute/Chart.lock
bluecompute/values.yaml.*

# Ignore test YAML files
*.yaml.test

# Ignore bluecompute-os folder
bluecompute-os

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DS_Store
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Ignore HTLM rendered version of README document
README.html

# SSL Certificates
*.crt
*.key